body {
    background-color: white;
    padding-top: 4.5rem
}
.bg-dark {
    background-color: darkblue !important;
}
.btn-outline-success {
     color: yellow !important;
     border-color: yellow !important;
}

.nav-link.active {
    border: 2px solid white;
}

.nav-link:hover {
    color: orange !important;
    border: 2px dotted orange;
}

.carousel-caption {
    margin-bottom: 1.25rem;
    padding-top: revert;
    padding-bottom: revert;
}

.zvyrazniTucnym {
    font-weight: bold;
    color: brown;
}

img {
    border-radius: 1rem;
}

.mapa {
    width: 100%;
}

.partialdark {
       background: rgba(128, 128, 128, 0.5);
   }
