@media (max-width: 675.98px) {
    .container {
        padding-left: 4px;
        padding-right: 4px;
    }

    .navbar > .container {
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }

    div > .row {
        --bs-gutter-x: 0;
    }
}

body {
    background-color: white;
}

.bg-dark {
    background-color: darkblue !important;
}

a.nav-link {
    padding-left: 0.5rem !important;
}

a.dropdown-item.active {
    color: white;
}

.nav-link.active, .dropdown-item.active {
    border: 1px solid white;
    background-color: rgba(255, 80, 128, 0.5);
    border-radius: 0.5rem;
}

.nav-link:hover, .dropdown-item:hover {
    color: orange !important;
    background-color: rgba(128, 80, 128, 0.5);
    border: 1px dotted white;
    border-radius: 0.5rem;
}

.carousel-caption {
    margin-bottom: 1.25rem;
    padding-top: revert;
    padding-bottom: revert;
}

.zvyrazniTucnym {
    font-weight: bold;
    color: brown;
}

.img-responsive {
    /*border-radius: 1rem;*/
    display: block;
    max-width: 100%;
    height: auto;
}

h3.register-error {
    color: red;
}

h3.register-success {
    color: green;
}

.partialdark {
    background: rgba(128, 128, 128, 0.5);
}

.Author {
    font-size: .925rem;
    color: dimgray;
}

.card-body a {
    text-decoration: none;
}

.card-body a:hover {
    color: black;
}

.card-body > .row > .col-11 {

    flex: 0 0 auto;
    width: 90%;
}

.comment-nick {
    float: left;
    margin-right: 6px;
    font-weight: bold;
    color: darkblue;
}

.event-time {
    color: darkblue;
}

.event-time#title {
    float: left;
    margin-right: 6px;
    font-weight: bold;

}

.event-description {
    color: black;
}

.event-description#title {
    /*float: left;*/
    margin-right: 6px;
    font-weight: bold;
    color: red;
}

.event-place#title {
    float: left;
    margin-right: 6px;
    font-weight: bold;
    color: red;
}

.dropdown-item {
    color: #8c8cca;
}

.dropdown-item-text {
    color: white;
}

.dropdown-menu {
    border-color: #8c8cca;
}

.dropdown-divider {
    border-color: white;
    color: white;
}

.dmBg-midnightblue {
    background-color: midnightblue;
}
